/* RESET */
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #F1F0FF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #F1F0FF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #F1F0FF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #F1F0FF;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #F1F0FF;
}

body {
	overflow: hidden;
	background: 
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Arial';
    background-color: rgb(245, 245, 245);
}

.text-title {
	padding: 15px 20px;
    background-color: rgba(166, 75, 154, 1);
    margin-bottom: 20px;
}

h1, p, span {
	color: #F1F0FF;
}

h1 {
    font-size: 2.5rem;
}

p {
	font-size: 1.5rem;
}

a {
    text-decoration: underline;
    color: inherit; 
}
    
.container {
	margin: 80px auto;
	width: 90%;
	max-width: 800px;
}

.registration {
	background-color: rgba(192, 128, 184, 1);
	max-width: 400px;
	margin: 0 auto;
	padding-bottom: 20px;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
	border-bottom: 5px solid rgba(166, 75, 154, 1);
}

.form-footer {
	float: none;
	display: inline-block;
	position: absolute;
	top: -70px;
	left: 33px;
	width: 400px;
	padding: 5%;
	background-color: rgba(166, 75, 154, 1);
	color: white;
}

.input-requirements {
  font-size: 1.3rem;
  font-style: italic;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
  max-width: 400px;
  margin: 10px auto;
  color: #F1F0FF;
}

.input-requirements li.invalid {
	color: #F1F0FF;
}
.input-requirements li.valid {
	color: #443266; 
}

.input-requirements li.valid:after {
	display: inline-block;
	padding-left: 10px;
	content: "\2713";
}