@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input::before,
.option-input:checked::before {
  height: 100px;
  width: 100px;
  top: 30px;
  position: absolute;
  content: attr(data-checked);
  display: inline-block;
  font-size: 90px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

.col-vote {
	display: inline-block;
	float: none;
	margin: 2%;
	box-shadow: 3px 3px 5px rgba(166, 75, 154, 1);
}

.ava-container {
	background: rgba(166, 75, 154, .5);
}

img.avatar {
	max-width: 135px;
	padding: 5%;
}

.desc-container {
	background: rgba(166, 75, 154, .7);
	padding-top: 3%;
}